<p id="notice"><%= notice %></p>

<h1>Listing Shifts</h1>

<button class="new-shift">New Shift</button>
<br>
<br>

<div class="form-wrapper" hidden>
  <%= render 'form' %>
</div>

<div id="calendar"></div>