// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-tab {
  height: 50px;
  float: left;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  line-height: 50px;
}

.group-tab-selected {
  height: 50px;
  float: left;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ee5544;
  text-align: center;
  line-height: 50px;
}

.group-link {
  font-size: 20px;
  color: #ee5544;
  text-decoration: none;
  float: left;
}

.group-tab-selected .group-link {
  color: white;
}