// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-tab {
  height: 50px;
  float: left;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid black 1px;
  background-color: grey;
  text-align: center;
  line-height: 50px;
}

.group-tab-selected {
  height: 50px;
  float: left;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid red 1px;
  background-color: white;
  text-align: center;
  line-height: 50px; 
}

.group-link {
  font-size: 24px;
  color: black;
  text-decoration: none;
  float: left;
}